---
title: "Towards Cost-model-based Query Execution<br />over Hybrid Linked Data Fragments Interfaces"
---
<header markdown="1">
# <%= @item[:title] %>

{:#authors}
- <%= person 'Amr Azzam', '#', '#' %>[<sup>1</sup>](#wu1)
- <%= person 'Ruben Taelman', 'http://www.rubensworks.net/', 'http://www.rubensworks.net/#me' %>[<sup>2</sup>](#idlab)
- <%= person 'Axel Polleres', 'https://aic.ai.wu.ac.at/~polleres/', 'http://polleres.net/foaf.rdf#me' %>[<sup>1</sup>](#wu)

{:#affiliations}
- {:#wu}   <sup>1</sup>Vienna University of Economics and Business,
            Vienna, Austria,
            aazzam@wu.ac.at
- {:#idlab} <sup>2</sup>IDLab,
            ELIS,
            Ghent University – imec,
            ruben.taelman@ugent.be


<%= section 'abstract' %>
</header>

<main>
  <%= section 'introduction' %>
  <%= section 'solution' %>
  <%= section 'conclusions' %>
</main>

<footer></footer>
